@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

$font-family-base: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;